<h1 class = "mb-3"> Report Request </h1>

<pre class="report_request_descr">
  Write the subject of your report and add a brief description of what happened.
  Once the request is sent, our administrators will respond within a period of 1-3 days.
 </pre>

<%= form_with(url: report_form_path, local: true) do |form| %>

  <div class="mb-3">
    <%= form.label :matter, "Matter" %>
    <%= form.text_field :matter, class:"form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :content, "Content" %>
    <%= form.text_area :content, size: "70x5", class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary", method: :post%>
  </div>

  <% flash.each do |type, msg| %>
    <div class="alert alert-success">
      <%= msg %>
    </div>
  <% end %>

<% end %>